@keyframes heart-progress {
    
    1% {
        opacity: 0.5;
        transform: scale(0.1);
        transform-origin: bottom;
        

      
    }
    100% {
        opacity: 1;
        transform: scale(1) ;
        transform-origin: bottom;
        
    }
    
}

/* animation for checks */
@keyframes check {
  0% {
  color: white;
  width: 150px;
  }
  100% {
  width: 30px;
  }
}