/* Création d'une extension pour la section 2  */
.carte-fonctionnement
{

    padding: 20px 20px;
    padding-left: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: $gris-fond;
    box-shadow: $ombre-carte;
    width: 80%;
    border-radius: 15px / 15px;
    font-weight: bold;
    list-style-type: none;
    font-size: 1rem;
 
    &:hover
    {
        background: $carte-fond;
        box-shadow:5px 5px 5px grey;
        cursor: pointer;
    }

    @media all and (min-width:425px)  {
        
        width: 330px;
    }

    @media all and (min-width: 768px) {
        margin-left: 40px;
    }

}