/*MIXIN "BOUTON"*/


@mixin bouton{
    display:inline-block;
    color:white;
    background:linear-gradient(to top, #9256dc, #ff79d9);
    box-shadow:0 0 8 #00000069;
    border-radius:30px 30px;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:50px;
    
    &:hover{
    
    transform:scale(1.20);
    transition-duration:700ms;
    box-shadow:0px 0px 20px #00000152;
    filter:brightness(1.3);
    }
    }
    
    /*MIXIN des articles de l'index*/
    
    @mixin article-format($value)
    {
    font-family:"Roboto";
    font-weight:bold;
    margin-left:10px;
    font-size:1rem;
    margin-top:$value;
    }
    
    /*MIXIN pour la section fonctionnement*/
    
    @mixin carte-fonctionnement{
    
        padding: 20px 20px;
        padding-left: 0px;
        margin-bottom: 20px;
        margin-left: 20px;
        background-color: $gris-fond;
        box-shadow: $ombre-carte;
        width: 80%;
        border-radius: 15px / 15px;
        font-weight: bold;
        list-style-type: none;
        font-size: 1rem;
     
        &:hover
        {
            background-color: $carte-fond;
            cursor: pointer;
        }
    
        @media all and (min-width:425px)  {
            
            width: 330px;
        }
    
        @media all and (min-width: 768px) {
            margin-left: 40px;
        }
    
    }
    
    
    
    