/*MIXIN "BOUTON"*/


@mixin bouton{
    display:inline-block;
    color:white;
    background:linear-gradient(to top, #9256dc, #ff79d9);
    /*box-shadow:$ombre-over;*/
    border-radius:30px 30px;
    font-weight:bold;
    margin-top:20px;
    margin-bottom:50px;
    
    &:hover{    /*bouton "explorez nos restaurants"*/
    
    transform:scale(1.20);
    transition-duration:700ms;
    box-shadow:$bouton-ombre-hover;
    filter:brightness(1.3);
    }
    }
    
    /*MIXIN des articles de l'index*/
    
    @mixin article-format($value)
    {
    font-family:"Roboto";
    font-weight:bold;
    margin-left:10px;
    font-size:1rem;
    margin-top:$value;
    }
    
    /*MIXIN pour la section fonctionnement*/
    
    @mixin carte-fonctionnement{
    
        padding: 20px 20px;
        padding-left: 0px;
        margin-bottom: 20px;
        margin-left: 20px;
        background-color: $gris-fond;
        box-shadow: $ombre-carte;
        width: 80%;
        border-radius: 15px / 15px;
        font-weight: bold;
        list-style-type: none;
        font-size: 1rem;
     
        &:hover    /*boutons fonctionnement*/
        {
            background-color:$bouton-fond-hover;
            box-shadow:$ombre-hover;  
            cursor: pointer;
        }
    
        @media all and (min-width:425px)  {
            
            width: 330px;
        }
    
        @media all and (min-width: 768px) {
            margin-left: 40px;
        }
    
    }

    /*mixin pour menu.scss*/

    @mixin bloc-menu{ 

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 20px!important;
    margin: 10px;   
    
       }
    
    