/*BACKGROUND*/

$form-fond:rgb(234,234,234);
$gris-fond:#f4f4f4;
$info-fond:rgb(230, 211, 211);
$carte-fond:#e4d5f6;

/*BORDER*/
$form-bordure:solid 2px #00000017;
$bordure-bas:3px solid #99E2D0;

/*couleur des icônes*/
$icone-couleur:#939393;
$chiffre-couleur:#9356DC;

/*fond et couleur des boutons*/
$bouton-couleur:#278870;
$bouton-fond:#99E2D0;

/*couleur du coeur*/
$coeur-couleur-hover:rgb(247, 169, 169);
$coeur-couleur:#9356DC;

/*border-shadow*/
$ombre-carte:0 5px 10px 0 rgb(197 197 197/85%);
$ombre:4px 4px 12px #bfbfbf;

$texte-police:"Roboto", sans-serif;
