/*page d'accueil*/


/*couleur de fond des bandes de la page d'accueil*/

$form-fond: rgb(234, 234, 234);
/*bande au dessus*/
$info-fond: rgb(246, 246, 246);
/*fond des cartes*/
$carte-fond: white;
/*fond des 3 boutons*/
$fond-footer:#353232;


/*couleur et ombre des icônes de fonctionnement*/
$bouton-commandez:linear-gradient(to top, #9256dc, #ff79d9);
$bouton-ombre-hover:3px 3px 6px 6px rgb(63, 48, 48);   /*bouton "explorez nos restaurants"*/
$icone-couleur: #939393;
$couleur-chiffre: #fafafa;
$gris-fond: #F4F4F4F4;
$ombre-carte: 0 5px 10px 0 rgb(197 197 197/85%);

$ombre-hover: 0 5px 10px 0 rgb(26, 23, 23);
$bouton-fond-hover:white;


/* PAGE MENU*/

      /*traits dans la carte du menu sous : entrées, plats et desserts*/

$bordure-bas: 3px solid #99E2D0;


              /*fond et couleur des boutons span "nouveau"*/

$bouton-couleur: #278870;

                     /*ombre des boutons menu*/

$ombre: 4px 4px 12px #bfbfbf;

$cartouche-prix:rgb(153, 226, 208);


/*couleurs de la charte pour site et loader*/

$couleur-secondaire: #FF79DA;
/*couleur du coeur + loader*/
$couleur-primaire: #9356DC;
/*couleur des boutons ronds + loader*/
$couleur-tertiaire: #99E2D0;
/* couleur de fond des span "nouveau" + 
traits des menus + loader*/
$couleur-loader: rgb(207, 174, 200);
/*loader*/
$couleur-fond:white;

/*border pour loader*/

$haut: 4px solid $couleur-primaire;
$droite: 4px solid $couleur-secondaire;
$bas: 4px solid $couleur-tertiaire;
$gauche: 4px solid $couleur-loader;


/*police*/

$texte-police: "Roboto", sans-serif;



