@keyframes heart-progress {

    1% {
        opacity: 0;
        transform: scale(0.5);
        transform-origin: center;



    }

    100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: center;

    }

}



/* animation for checks */
@keyframes check {
    0% {
        color: white;
        width: 100px;
    }

    100% {
        width: 30px;
    }
}



/* Animation des menus de cartes  */

.menus {


    main-menu {

        animation: 0.8s ease-in-out apparing-contenu-menus;

        @keyframes apparing-contenu-menus {
            1% {
                opacity: 0.1;
                transform: scale(0.1);
            }

            50% {
                opacity: 0.2;
                transform: scale(0.1);

            }

            75% {
                opacity: 0.4;
            }

            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    .carte {


        .entree1,
        .plat1,
        .dessert1 {
            animation: 2.5s ease-in-out apparing-contenu-plat_one;

            @keyframes apparing-contenu-plat_one {
                1% {
                    opacity: 0;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        .entree2,
        .plat2,
        .dessert2 {
            animation: 3s ease-in-out apparing-contenu-plat_two;

            @keyframes apparing-contenu-plat_two {
                1% {
                    opacity: 0;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        .entree3,
        .plat3,
        .dessert3 {
            animation: 3.5s ease-in-out apparing-contenu-plat_tree;

            @keyframes apparing-contenu-plat_tree {
                1% {
                    opacity: 0;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        .entree4 {
            animation: 4s ease-in-out apparing-contenu-plat_four;

            @keyframes apparing-contenu-plat_four {
                1% {
                    opacity: 0;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }

        /* Fin de l'animation des menus de cartes  */

    }
}