
/* MQ PAGES MENUS */

/* Début de la MQ de 1200px  */
@media all and (min-width: 1200px) {
  .menus {

    /* Gestion de la section principale */
    .main_menu {
      display: flex;
      flex-direction: column;
      align-items: center;

      .texte-presentation {
        width: 1200px;
      }

      .carte_entree {
        width: 30% !important;
      }

      .carte_plat {
        width: 30%;

      }

      .carte_dessert {
        width: 30%;
      }

      li {
        margin-left: 20px;
      }

    }

    .carte {
      flex-direction: row !important;
      width: 1200px;
    }





    /* Fin de la section principale */
  }

  /* Fin de la MQ de 1200px  */
}


@media screen and (min-width:1600px) {

  .carte_entree,
  .carte_plat,
  .carte_dessert {
    justify-content: center;
    width: 32%;
  }

}

/*ajouts à vérifier, fait le 23/05/2022*/


@media screen and (max-width:1075px) {
  .menus .carte_choix {

    width: auto;
  }

}

@media screen and (max-width:590px) {

  .menus .carte_choix {
    width: 100%;

  }

  .carte_entree,
  .carte_plat,
  .carte_dessert {

    width: auto;

  }




}
    