/* Début de la seconde page */
.menus {

  /* Début du main */
  main
  {
    opacity: 1;
  
    /* Gestion de la section principale */
    &_menu{
      background-color: white;
      border-radius: 40px 40px 0 0;
      margin-top: -40px;
      position: relative;
    }
  
    p
    {
     img
     {
      width: 100%;
      height: 250px;
      object-fit:cover;
     } 
    
      }
     .texte-presentation
      {
        position: relative;
  
        h2 
        {
          font-family: 'Shrikhand';
          font-size: 1.5rem;
          padding-top: 40px;
          padding-left: 20px;
        }
         & .fas.fa-heart
        {
          position: absolute;
          font-size: 30px;
          z-index: 2;
          right: 0px;
          top: 0px;
          left: 0px;
          bottom: 0px;
          opacity: 0;
          color: $couleur-secondaire;
          
          &:hover {
            
            animation: 1s heart-progress forwards ease-in-out ;
            -webkit-background-clip: text;
            background-clip: text;
          }
        }/*fas fa.heart*/

        & .far.fa-heart
        {
          position: absolute;
          right: 30px;
          top: 40px;
          font-size: 30px;
          color: black;
      }
      
    }/*texte-presentation*/
    
     }/*main*/
  
   
  
  /* carte de menu */
  .menu-presentation{
    display: flex;
     }
  



  .carte {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 50px;
    width: 100%;
  
      h3 
      {        
          font-size: 1.1rem;
          margin-left: 7px;
          margin-top: 20px;
          padding-bottom: 5px;
          font-family: $texte-police;
          font-weight:initial;
          border-bottom: $bordure-bas ;
          text-transform: uppercase;
          width: 40px;
          margin-bottom: 5px;
      }
  
    /* bloc menu entree */
    &_entree{ 
      @include bloc-menu;
    animation: menu-carte 2s ease-in-out 1.2s normal both;
}

    &_plat{
      @include bloc-menu;   
      animation: menu-carte 2s ease-in-out 2s normal both;
    }

    &_dessert {
      @include bloc-menu;
      animation: menu-carte 3s ease-in-out 3s normal both;
      }


      &_titre {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
      

    span {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1rem;
      margin: 5px;
    }
   }
    &_titre :nth-child(1) {  
      font-size: 1.2rem;
      font-weight: 600;
    }
    &_choix {
      box-sizing: border-box;
      display: flex;
      box-shadow: $ombre;
      margin-bottom: 25px;
      justify-content: center;
      align-items: center;
      padding: 0 7px;
      border-radius: 15px 15px 15px 15px;
      cursor: pointer;
      width:auto;  /*370px*/
    
  

  &:hover  .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10px;
    border-radius: 0px 12px 12px 0px;
    background-color: rgb(153, 226, 208);
    transition-duration: 0.5s;
    animation: check 0.5s ease-in-out reverse both;
    
  }

  & .fas {
    border-radius: 0px 15px 15px 0px;
    right: -7px;
    height: 78px;
    color: transparent;
  }

   }

  .entree1, .entree2, .entree3, .entree4 {
    width: 100%;
  }
  .plat1, .plat2, .plat3 {
    width: 100%;
  }
  .dessert1, .dessert2, .dessert3 {
    width: 100%;
  }

  .prix {   
    font-weight: 600;
    position: relative;
    align-self: flex-end;
    margin-left: auto;
    padding: 30px 5px;
  }

  .fa-check-circle:before
  {
        font-size: 1.4rem;
  }


  }/*carte*/


/* Bouton "commandez" */
p 
{
    text-align: center;

     & .bouton-menu{
         @include bouton;
         padding: 15px 40px;
         border: 0px;
         cursor: pointer;

       }
}



  }/*menus*/


    