/* Début de la seconde page */
.menus {

    /* Début du main */
    main
    {
      opacity: 1;
    
      /* Gestion de la section principale */
      & .main-menus{
        background-color: white;
        border-radius: 40px 40px 0 0;
        margin-top: -40px;
        position: relative;
      }
    
      p
      {
       img
       {
        width: 100%;
        height: 250px;
        object-fit: cover;
       } 
      }
      /* Gestion de la div de la section principal */
       .texte-presentation
        {
          position: relative;
    
          h2 
          {
            font-family: 'Shrikhand';
            font-size: 1.5rem;
            padding-top: 40px;
            padding-left: 20px;
          }
           & .fas.fa-heart
          {
            position: absolute;
            font-size: 30px;
            z-index: 2;
            right: 0px;
            top: 0px;
            left: 0px;
            bottom: 0px;
            opacity: 0;
            color: $coeur-couleur;
            
            &:hover {
              
              animation: 1.2s heart-progress forwards ease-in-out ;
              -webkit-background-clip: text;
              background-clip: text;
            }
          }
          & .far.fa-heart
          {
            position: absolute;
            right: 30px;
            top: 40px;
            font-size: 30px;
            color: black;
        }
        /* Fin de la div de la section principal */
      }
      /* Fin du main */
    }
    
    
    /* Gestion du Bouton commander */
    p 
    {
        text-align: center;
    
         & .bouton-menu{
             @include bouton;
             padding: 15px 40px;
             border: 0px;
             cursor: pointer;
    
           }
    }
    /* Fin du Bouton commander */
    /* carte de menu */
    .menu-carte {
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      flex-wrap: wrap;
      padding-bottom: 50px;
      width: 100%;
    
        h3 
        {        
            font-size: 1.1rem;
            margin-left: 7px;
            margin-top: 20px;
            padding-bottom: 5px;
            font-family: $texte-police;
            font-weight:initial;
            border-bottom: $bordure-bas ;
            text-transform: uppercase;
            width: 40px;
            margin-bottom: 5px;
        }
    
      /* bloc menu entree */
      &_entree,
      &_plat,
      &_Dessert {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 20px!important;
        margin: 10px;
      }
      &_titre span {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1rem;
        margin: 5px;
      }
      &_titre :nth-child(1) {
        font-size: 1.2rem;
        font-weight: 600;
      }
      &_choix {
        box-sizing: border-box;
        display: flex;
        width: auto;
        box-shadow: $ombre;
        margin-bottom: 25px;
      }
    }
    .menu_choix{
      display: flex;
    }
    .menu_entree1, .menu_entree2, .menu_entree3, .menu_entree4 {
      width: 100%;
    }
    .menu_plat1, .menu_plat2, .menu_plat3 {
      width: 100%;
    }
    .menu_dessert1, .menu_dessert2, .menu_dessert3 {
      width: 100%;
    }
    .menu-carte_choix {
      justify-content: center;
      align-items: center;
      padding: 0 7px;
      border-radius: 15px 15px 15px 15px;
      cursor: pointer;
    }
    .menu-carte_titre {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
    }
    .menu-carte_titre span {
      width: auto;
      font-size: 1rem;
    }
    .menu-carte_prix {
      font-weight: 600;
      position: relative;
      align-self: flex-end;
      margin-left: auto;
      padding: 8px 20px;
    }
    input[type="radio"] {
      display: none;
    }
    label .fas {
      border-radius: 0px 15px 15px 0px;
      right: -7px;
      height: 78px;
      color: transparent;
    }
    input[type="radio"]:checked + .fas {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 10px;
      border-radius: 0px 12px 12px 0px;
      background-color: rgb(153, 226, 208);
      transition-duration: 1s;
      animation: check 0.8s ease-in reverse both;
    }
    .menu-carte_choix:checked .fas {
      transition-duration: 1s;
      animation: check 0.8s ease-in-out reverse both;
    }
    .fa-check-circle:before
    {
          font-size: 1.4rem;
    }
    
    // animation des boutons
    .menu-carte_entree {
      animation: menu-carte 2s ease-in-out 1.2s normal both;
    }
    .menu-carte_plat{
      animation: menu-carte 2s ease-in-out 2s normal both;
    }
    .menu-carte_dessert {
      animation: menu-carte 3s ease-in-out 3s normal both;
    }
    
    /*.bouton-Ordre {
      border: none;
      color: white;
    }*/
    }