@media all and (min-width: 768px) {
    /* Gestion du footer */
     footer
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & .fa , .fas 
    {
          font-size: 1.1rem;
          
    }

    h2 
    {
        padding-top: 0px;
    }

    ul
    {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
       align-items: flex-end;
    }
    li 
    {
      padding-bottom: 0px;
    }
  }
}